
<div class="container">
  <div >
    <div class="content">
      <div class="header">
        <a href="/"><i data-feather="arrow-left"></i></a>
        <img src="{{estabelecimento.picture}}" alt="{{estabelecimento.name}}">

        <div>
          <strong>{{estabelecimento.name}}</strong>
          <p>ID: {{estabelecimento.index}}</p>
        </div>

      </div>


      <div class="body">


        <div >
          <p class="labels">Informações Básicas</p>

          <div class="informacoes">
            <div>
              <label for="nome">Nome</label>
              <input type="text" name="nome" id="nome">
            </div>


            <div>
              <label for="cidade">Cidade</label>
              <input type="text" name="cidade" id="cidade">

            </div>

            <div>
              <label for="enderco">Endereço</label>
              <input type="text" name="enderco" id="enderco">
            </div>

          </div>

        </div>


        <div >
          <p class="labels">Financeiro</p>


        <div class="informacoes">
          <div>
            <label for="banco">Banco</label>
            <input type="text" name="banco" id="banco">
          </div>


          <div>
            <label for="tipo_conta">Tipo de conta</label>
            <input type="text" name="tipo_conta" id="tipo_conta">

          </div>

          <div>
            <label for="cpf">CPF/CNPJ</label>
            <input type="text" name="cpf" id="cpf">
          </div>

        </div>

        <div class="informacoes">
          <div>
            <label for="agencia">Agência</label>
            <input type="text" name="agencia" id="agencia">

          </div>

          <div>
            <label for="conta">Conta</label>
            <input type="text" name="conta" id="conta">
          </div>

          <div>
            <label for="saque">Saque automático</label>
            <input type="saque" name="saque" id="saque">
          </div>

        </div>

        </div>

        <button>Salvar</button>
      </div>
    </div>
  </div>
</div>
