
<div class="container">
  <div *ngIf= "estabelecimento"  >
    <div class="content">
      <div class="header">
        <a href="/"><img src="assets/arrow-left.svg" alt="arrow-left"></a>
        <img src="{{estabelecimento.picture}}" alt="{{estabelecimento.name}}">

        <div>
          <strong>{{estabelecimento.name}}</strong>
          <p>ID: {{estabelecimento.index}}</p>
        </div>

      </div>


      <form class="body" #formEstabelecimento="ngForm">


        <div >
          <p class="labels">Informações Básicas</p>

          <div class="informacoes">
            <div>
              <label for="nome">Nome</label>
              <input
                type="text"
                name="nome"
                id="nome"
                [(ngModel)]="estabelecimento.name"
                >
            </div>


            <div>
              <label for="cidade">Cidade</label>
              <input
                type="text"
                name="cidade"
                id="cidade"
                [(ngModel)]="estabelecimento.city"

                >

            </div>

            <div>
              <label for="endereco">Endereço</label>
              <input
                type="text"
                name="endereco"
                id="endereco"
                [(ngModel)]="estabelecimento.address"

                >
            </div>

          </div>

        </div>


        <div >
          <p class="labels">Financeiro</p>


        <div class="informacoes">
          <div>
            <label for="banco">Banco</label>
            <input
              type="text"
              name="banco"
              id="banco"
              [(ngModel)]="estabelecimento.bank"

              >
          </div>


          <div>
            <label for="tipo_conta">Tipo de conta</label>
            <input
              type="text"
              name="tipo_conta"
              id="tipo_conta"
              [(ngModel)]="estabelecimento.typeAccount"

              >

          </div>

          <div>
            <label for="cpf">CPF/CNPJ</label>
            <input
              type="text"
              name="cpf"
              id="cpf"
              [(ngModel)]="estabelecimento.cpfCnpj"

              >
          </div>

        </div>

        <div class="informacoes">
          <div>
            <label for="agencia">Agência</label>
            <input
              type="text"
              name="agencia"
              id="agencia"
              [(ngModel)]="estabelecimento.agency"

            >

          </div>

          <div>
            <label for="conta">Conta</label>
            <input
              type="text"
              name="conta"
              id="conta"
              [(ngModel)]="estabelecimento.account"

            >
          </div>

          <div>
            <label for="saque">Saque automático</label>
            <input
              type="saque"
              name="saque"
              id="saque"
              [(ngModel)]="estabelecimento.saque"

            >
          </div>

        </div>

        </div>

        <button
        (click) = "update()"
        >Salvar</button>
      </form>
    </div>
  </div>
</div>
